
{{!-- <h1>Sign In</h1> --}}

<div class="card" style="width: 22rem;" style="height: 500px;">
    <form method="POST" action="/login">
        <div class="card-body">
            <h5 class="card-title"><strong> Sign in</strong></h5>
            <label for="username">Username</label>
            <input type="text" name="username" required placeholder="User Name">
        <br>
        <br>
            <label for="Password">Password</label>
            <input type="password" name="password" required placeholder="Password">
        <br>
        <br>
             <button class="btn btn-primary">Sign in</button>
        <br>
        <br>
            <span>Create account?<a href="/">Sign up</a></span>
        </div>
    </form>
</div>